{
  "extends": "stylelint-config-recommended",
  "rules": {
    "no-empty-source": null,
    "declaration-empty-line-before": null,
    "no-missing-end-of-source-newline": null,
    "no-extra-semicolons": null,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "apply",
        "layer",
        "tailwind",
        "components",
        "utilities",
        "responsive",
        "screen"
      ]
    }],
    "block-no-empty": null,
    "unit-whitelist": ["em", "rem", "s", "px", "%"]
  }
}